@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter;
}

::-webkit-scrollbar {
  width: 5px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 12px;
}

.flexCenter {
  @apply flex justify-center items-center;
}

.flexBetween {
  @apply flex justify-between items-center;
}

/* Navbar */
.navbar {
  @apply flex justify-center content-center py-2 px-10 sm:py-6 sm:px-8 border-b border-nav-border bg-nav-bg gap-4;
}

/* Star Wars */
.title {
  @apply text-center text-xl md:text-4xl font-bold mb-1 md:mb-10 mt-[100px] sm:mt-[150px] text-items-title;
}

.img-container {
  @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 auto-rows-max gap-6 m-4 sm:m-10;
}

.img-cover {
  @apply w-full object-cover aspect-square;
}

.img-description {
  @apply flex flex-col absolute bottom-0 w-full bg-slate-100 h-[40%] md:h-[50%] 2xl:h-[40%] backdrop-blur-md font-medium bg-white/10 border-t-2 border-gray-100/60 p-2 sm:p-2 md:p-2 gap-2 xl:gap-2 sm:gap-0;
}

.img-description_name {
  @apply text-2xl xl:text-2xl sm:text-base text-white font-semibold xl:mb-3 sm:mb-0;
}

.img-description_position {
  @apply text-base xl:text-base sm:text-sm text-white font-medium;
}

.img-description_description {
  @apply text-white font-normal text-base xl:text-base sm:text-xs;
}

/* Pagination */
.pagination-container {
  @apply flex items-center justify-between bg-white px-4 py-3 sm:px-6;
}

.pagination-container_sm {
  @apply flex flex-1 justify-between sm:hidden;
}

.pagination-left_sm {
  @apply relative inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50;
}

.pagination-right_sm {
  @apply relative ml-3 inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50;
}

.pagination-container_lg {
  @apply hidden sm:flex sm:flex-1 sm:items-center sm:justify-center;
}

.pagination-nav {
  @apply isolate inline-flex -space-x-px rounded-md shadow-sm;
}

.pagination-left {
  @apply relative inline-flex items-center rounded-l-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0;
}

.pagination-btn-active {
  @apply bg-indigo-600 text-white focus:z-20 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600;
}

.pagination-btn-inactive {
  @apply text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0;
}

.pagination-btn {
  @apply relative z-10 inline-flex items-center px-4 py-2 text-sm font-semibold;
}

.pagination-right {
  @apply relative inline-flex items-center rounded-r-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0;
}

/* Footer */
.footer_copyright {
  @apply max-sm:flex-col w-full text-sm font-normal p-2 mt-5 mb-10 border-t-2 border-t-gray-600 border-opacity-5;
}
