@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter;
}

.flexCenter {
  @apply flex justify-center items-center;
}

.flexBetween {
  @apply flex justify-between items-center;
}

/* Navbar */
.navbar {
  @apply py-5 px-8 border-b border-nav-border bg-nav-bg gap-4;
}

/* Star Wars */
.title {
  @apply text-center text-4xl font-bold m-10;
}

.img-container {
  @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 auto-rows-max	 gap-6 m-10;
}

.img-cover {
  @apply w-full object-cover aspect-square;
}